/* Minimal CSS for Kindle Dictionary */
body {
    font-family: serif;
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bold;
    margin-top: 0.5em;
}

dd {
    margin-left: 1em;
    margin-bottom: 0.5em;
}
